
**/coverage/**
**/node_modules/**
bin/
packages/*/dist/**
packages/*/lib/**
packages/*/scripts/**
**/dist/*
**/public/*
**/__testfixtures__/**
**/__tests__/fixtures/**
peril
docs
starters
benchmarks
e2e-tests
examples
integration-tests
**/*.d.ts
deprecated-packages

packages/*/*.js
packages/getnx-source-shopify/**/*.js
packages/getnx-plugin-preload-fonts/prepare/*.js
packages/getnx/cache-dir/commonjs/**/*
packages/getnx-codemods/transforms
packages/getnx-source-graphql/batching
packages/getnx-plugin-getnx-cloud/components
packages/getnx-plugin-getnx-cloud/context
packages/getnx-plugin-getnx-cloud/models
packages/getnx-plugin-getnx-cloud/utils
packages/getnx-plugin-preact/fast-refresh

packages/getnx-source-wordpress/test-site/**
!packages/getnx-source-wordpress/test-site/__tests__
!packages/getnx-source-wordpress/test-site/test-utils
!packages/getnx-worker/src/__tests__/fixtures/**
